main > section:nth-of-type(3) {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main > section:nth-of-type(3) div {
  width: 100%;
  display: grid;
  padding-top: 3em;
  padding: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 8em fit-content 1fr 1fr;
}
main > section:nth-of-type(3) div h2 {
  color: var(--color-text);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  place-self: center;
}
main > section:nth-of-type(3) div > section:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
main > section:nth-of-type(3) div > section:nth-of-type(1) h3 {
  color: var(--color-text);
  margin-bottom: 1em;
}
main > section:nth-of-type(3) div > section:nth-of-type(1) p {
  color: var(--color-text);
  max-width: 40em;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) {
  overflow-x: hidden;
  margin-top: 3em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  place-self: center;
  flex-direction: column;
  max-width: 35em;
  width: 95%;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller {
  padding: 0.25em;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller ul li {
  background-color: rgb(70, 70, 70);
  border-radius: 10%;
  width: fit-content;
  padding: 0.5em;
  flex-wrap: nowrap;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller ul li span:nth-child(1) {
  font-size: 0.6em;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller ul li span:nth-child(2) {
  width: 4em;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller ul li img {
  width: 40px;
  height: auto;
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller[data-animated=true] {
  padding: 0.5em;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
main > section:nth-of-type(3) div > section:nth-of-type(2) .scroller[data-animated=true] ul {
  flex-wrap: nowrap;
  width: max-content;
}
main > section:nth-of-type(3) div > img {
  width: 40px;
  display: none;
}
main > section:nth-of-type(3) div > section:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
main > section:nth-of-type(3) div > section:nth-of-type(3) img {
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: 200ms;
}

@media (min-width: 70em) {
  main > section:nth-child(3) > div {
    padding: 3em;
    grid-template-columns: 1fr minmax(20em, 40em) 1fr;
    grid-template-rows: 8em 1fr 9em;
  }
  main > section:nth-child(3) > div h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  main > section:nth-child(3) > div > section:nth-of-type(1) {
    max-width: 70em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  main > section:nth-child(3) > div > section:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  main > section:nth-child(3) > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  main > section:nth-child(3) > div > img:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-right: 3em;
  }
  main > section:nth-child(3) > div img:nth-child(5) {
    padding-left: 3em;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .scroller[data-animated=true] ul {
    animation: scroll 20s forwards linear infinite;
  }
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.4em));
    }
  }
}