main .hello {
    display: flex;
    align-items: end;
    height: 80vh;

    > div {
        background-color: var(--background-color);
        mix-blend-mode: darken;
        width: 100%;
        color: #ffffff;
        font-weight: 700;
        display: none;
        justify-content: end;
        position: relative;
        align-self: end;
    }
    & h1 {
        order: -1;
        width: 100%;
        max-width: 110rem;
        margin: 0 auto;
        height: 1.44em;
        font-size: 11vw;
        padding-left: 2rem;
        display: flex;
        padding-bottom: 0.5em;
        .transparent {
            position: absolute;
            color: rgb(255, 255, 255);
            mix-blend-mode: difference;
            transform: translateY(-0.2em);
        }
    }

    & img {
        position: fixed;
        width: 100vw;
        height: 80vh;
        transform-origin: bottom;
        object-fit: cover;
        opacity: 1;
        order: -1;
        z-index: -1;
        filter: brightness(1.13);
    }
}

@media (min-width: 620px) {
    main .hello {
        & h1 {
            font-size: 4.5em;
            min-width: 8em;
            width: 100vw;
            /* padding-left: 0.72em; */
        }
        & div {
            display: flex;
        }
    }
}

@media (min-width: 1287px) {
    main .hello {
        & h1 {
            padding-left: 3.5rem;
            /* justify-content: center; */
        }
    }
}

@supports (animation-timeline: view()) {
    main > section:first-of-type img {
        animation: header-image-fade-out linear forwards;
        animation-timeline: view();
        animation-range: exit -400px;
    }

    @keyframes header-image-fade-out {
        10% {
            scale: 1;
        }
        90%,
        100% {
            scale: 1.1;
        }
    }
}
