main > section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 2rem;
  padding-top: 6em;
  background-color: var(--background-color);
  gap: 2em;
  h2 {
    font-size: calc(1em + 10vw);
    color: #c2dede;
    transform: rotate(-2deg);
    align-self: start;
    opacity: 0.8;
    max-width: 110rem;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0.25em;
  }

  /* grid */
  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
    grid-auto-rows: minmax(23em, auto);
    gap: 1.5em;
    width: 100%;
    max-width: 110rem;
    &.loading > li {
      transition: none;
    }
    > li {
      padding: 0em;
      list-style: none;
      width: 100%;
      font-size: calc(0.8em + 0.6vw);
      border: solid white 1px;
      border-radius: 0.5em;
      background-size: cover;
      transition: 300ms;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        box-shadow: inset 0 0 800px 400px rgba(0, 0, 0, 0.681);
        opacity: 0;
        transition: opacity 0.6s ease;
        pointer-events: none;
      }

      &:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.604);
      }

      &.enlarge {
        grid-column: span 2;
        grid-row: span 2;
      }

      /* A class that is given or removed while transitioning */
      &.content-active {
        &::before {
          opacity: 1; 
        }

        > section > div {
        max-width: none;

        > p {
          display: block;
          position: absolute;
          top: 4em;
          inset: 4em 1.2rem auto 1.2rem;
        }
      }
      } 

      &.transition > section > div {
        animation: fadeIn 1.5s;
      }

      &.transition-back > section > div {
        animation: fadeOut 1.5s;
      }

      > section {
        all: unset;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: var(--color-text);
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: relative;

        > div {
          /* important so the content doesnt jump when transitioning */
          width: 100%;
          height: 100%;
          max-width: 20em;
          max-height: 17em;

          display: flex;
          flex-direction: column;
          padding-top: 1em;
          overflow: visible;

          /* h3 and prize */
          > div {
            display: flex;
            gap: 1em;
            position: absolute;
            top: 1.2rem;
            left: 1.2rem;
            right: 1.2rem;
            h3 {
              font-size: 1.6em;
              margin-bottom: 1rem;
            }
            /* prize */
            > div {
              img {
                width: 30px;
                height: 30px;
                min-height: 0;
                background-color: white;
                border-radius: 50%;
                padding: 0.15em;
                transition: 200ms;
                order: 1;
                
              }
              p {
                display: none;
              }
              &:hover,
              &:focus {
                img {
                  scale: 1.2;
                }
                p {
                  display: block;
                  position: absolute;
                  transform: translate(-50%, -1%);
                  background-color: white;
                  color: black;
                  border-radius: 10px;
                  padding: 1em;
                  width: 20em;
                  z-index: 99;
                }
              }
            }
          }

          > p {
            margin-bottom: 1em;
            max-width: 40em;
            display: none;
          }

          section:nth-of-type(1) {
            position: absolute;
            inset: auto 1.2rem 1.2rem 1.2rem;
            font-size: 1rem;
            ul {
              display: flex;
              gap: 0.5rem;
              flex-wrap: wrap;

              li {
                list-style: none;
                background-color: rgb(66, 66, 66);
                width: fit-content;
                padding: 0.5rem;
                border-radius: 10px;
              }
            }
          }
          section:nth-of-type(2) {
            display: none;
            padding-top: 1em;
            /* display: flex; */
            margin-top: auto;
            justify-content: start;
            gap: 1em;
            flex-wrap: wrap;

            * {
              margin: 0;
              align-content: center;
              margin-bottom: 0.5rem;
              text-wrap: nowrap;
            }
            a {
              color: var(--color-text);
              background-color: rgb(66, 66, 66);
              width: fit-content;
              padding: 0.5rem;
              border-radius: 10px;
            }
          }
        }

        > img {
          display: none;
          z-index: -1;
          object-fit: cover;
          max-height: 26em;
        }

        /* background: yellow; */
        /* height: 100vh; */
        /* width: 100vw; */
        /* position: absolute; */
        /* top: 0; */
        /* left: 0; */
        /* TODO take place in the other exisiting column, span 2 wide, 2 high. and show text on animation */
      }
    }

    @supports (animation-timeline: view()) {
      /* animation: fade-in-projects linear;
                animation-timeline: view();
                animation-range: -100px 600px; */
    }
  }

  @media (min-width: 30em) {
    ul > li > section img {
      object-fit: cover;
      max-width: none;
    }
    ul > li > section > div section:nth-child(4) {
      justify-content: end;
      gap: 1em;
    }
  }

  @media (min-width: 50em) {
    > ul > li > section {
      flex-direction: row;
    }
    > ul > li > section img {
      max-width: 20em;
      min-height: 21em;
      max-height: none;
      object-fit: cover;
    }
    > ul > li > section > div {
      padding: 1em;
    }
    > ul > li > section > div section:nth-child(4) * {
      margin: 0;
    }
    > ul > li:nth-child(even) > section > img {
      order: -1;
    }
  }
}

@media (min-width: 930px) {
  main > section.projects h2 {
    font-size: calc(2em + 6vw);
  }
}

@media (min-width: 1287px) {
  main > section.projects {
    padding-inline: 3.5rem;
    h2 {
      font-size: calc(6em + 2vw);
    }
    > ul > li {
      font-size: calc(1em + 0.2vw);
    }
  }
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(90%);
  }
}

@keyframes fade-in-projects {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}