/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rajdhani", sans-serif;
}

p,
a,
li,
button,
summary, label {
  font-family: "Montserrat", sans-serif;
}

button,
summary {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* The hide class */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --background-color: rgb(33, 33, 33);
  --color-text: rgb(224, 224, 224);
  --color-text-black: black;
  --color-white: #3B3B3B;
  --color-gray: #c6c6c6;
  --color-black: #ffffff;
  --color-direct-background: rgba(44, 44, 44, 0.63);
  --neonkleureen: rgb(182, 182, 182);
  --gradient-white: linear-gradient(194deg, #c1c1c1 100%, #ffffff 100%);
  --color-div: rgb(0, 0, 0);
  --transparent: rgba(0, 0, 0, 0);
  --light-hover: rgba(255, 255, 255, 0.05);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--background-color);
}

html:has(a:hover) .blob {
  transition: 200ms;
  opacity: 0;
  
}

body > .blob {
  display: none;
  pointer-events: none;
  position: absolute;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  z-index: 80;

}

body .blob:nth-of-type(1) {
  transition: 60ms;
  width: 30px;
  height: 30px;
}

body .blob:nth-of-type(2) {
  transition: 65ms;
  width: 27px;
  height: 27px;
}

body .blob:nth-of-type(3) {
  transition: 70ms;
  width: 24px;
  height: 24px;
}

body .blob:nth-of-type(4) {
  transition: 75ms;
  width: 21px;
  height: 21px;
}

body .blob:nth-of-type(6) {
  transition: 80ms;
  width: 18px;
  height: 18px;
}

body .blob:nth-of-type(7) {
  transition: 85ms;
  width: 15px;
  height: 15px;
}

body .blob:nth-of-type(8) {
  transition: 90ms;
  width: 12px;
  height: 12px;
}

body .blob:nth-of-type(9) {
  transition: 95ms;
  width: 9px;
  height: 9px;
}

body .blob:nth-of-type(10) {
  transition: 100ms;
  width: 6px;
  height: 6px;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
main > section {
  display: flex;
  width: 100vw;
  color: white;
}

body {
  overflow-x: hidden;
}

footer {
  padding: 0.6em;
  background-color: #3B3B3B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div {
  display: flex;
  gap: 1em;
}
footer div a {
  width: fit-content;
}
footer div a img {
  width: 1.8em;
  filter: invert(100%);
  transition: 200ms;
}
footer div a:hover img {
  scale: 1.1;
}

@media (prefers-color-scheme: dark) {
  input, textarea {
    color-scheme: dark;
  }
}