/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
/* algemeen */ /* algemeen */ /* algemeen */ /* algemeen */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rajdhani", sans-serif;
}

p,
a,
li,
button,
summary,
label {
  font-family: "Montserrat", sans-serif;
}

button,
summary {
  cursor: pointer;
}

html::-webkit-scrollbar {
  width: 6px;           
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 999px;
  min-height: 30px;                    
  border: 2px solid rgba(255,255,255,0.0); 
  opacity: 0.6;                  
}
html::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.555);
  opacity: 1;
}


/* The hide class */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --background-color: rgb(22, 22, 22);
  --color-text: rgb(224, 224, 224);
  --color-text-black: black;
  --color-white: #3b3b3b;
  --color-gray: #c6c6c6;
  --color-black: #ffffff;
  --color-direct-background: rgba(44, 44, 44, 0.63);
  --neonkleureen: rgb(182, 182, 182);
  --gradient-white: linear-gradient(194deg, #c1c1c1 100%, #ffffff 100%);
  --color-div: rgb(0, 0, 0);
  --transparent: rgba(0, 0, 0, 0);
  --light-hover: rgba(255, 255, 255, 0.05);
  --heading-color: #f2f2eb;
}

html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  &:has(body.loading){
    scroll-behavior: unset;
    overflow-y: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--background-color);
}

header {
  width: 100%;
  padding: 1em;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  & nav {
    display: flex;
    gap: 2em;
    & li {
      list-style: none;
      & a {
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        font-weight: 700;
      }
    }
  }
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
main > section {
  display: flex;
  width: 100%;
  color: white;
  > h2, > div > h2 {
    color: var(--heading-color);
    font-size: calc(1em + 10vw);
    
    @media (min-width: 58em) {
      font-size: calc(2em + 6vw);
    }
    @media (min-width: 80em) {
      font-size: calc(6em + 2vw);
    }
  }
}


p span.highlight {
  position: relative;
  z-index: 99;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5em;
    bottom: 0.1em;
    left: 0;
    background-color: #7ccfcf;
    z-index: -1;
    opacity: 0.4;
    transform: rotate(-2deg);
  }
}


footer {
  padding: 0.6em;
  background-color: var(--heading-color);
  filter: brightness(90%);
  color: rgb(0, 0, 0);


  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110rem;
    margin: 0 auto;
  }
}
footer div div {
  display: flex;
  gap: 1em;
}
footer div div a {
  width: fit-content;
}
footer div div a {
  img,
  svg {
    width: 1.8em;
    border-radius: 12%;
    transition: 200ms;
    height: auto;
  }
}
footer div div a:hover {
  img,
  svg {
    scale: 1.1;
  }
}

@media (prefers-color-scheme: dark) {
  input,
  textarea {
    color-scheme: dark;
  }
}

/* Loading in animation */
body.loading {
  header {
    opacity: 0;
    /* TODO animate loading in one by one */
    animation: slideIn 1.5s forwards;
  }
  main section:not(.hello) {
    > * {
      opacity: 0;
      animation: slideUp 1.5s forwards;
    }
  }
  main section.hello {
    h1 {
      animation: slideDown 1.5s forwards;
    }
  }
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
