<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/styles/style.css" rel="stylesheet" />
        <link href="styles/hello.css" rel="stylesheet" />
        <link href="styles/projects.css" rel="stylesheet" />
        <link href="styles/about.css" rel="stylesheet" />
        <link href="styles/contact.css" rel="stylesheet" />
        <link href="styles/projectInfo.css" rel="stylesheet" />
        <link rel="icon" href="images/iconportfoliozwart.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400&family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap"
            rel="stylesheet"
        />
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400&family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");
        </style>
        <title>Portfolio Jop Molenaar</title>
    </head>
<body>
    <main>
        <%- content %>
    </main>
    <footer>
        <p>© 2024 Jop Molenaar</p>
        <div>
            <a aria-label="Link to my linkedIn" target=”_blank” href="https://www.linkedin.com/in/jop-molenaar-18718b259/"><img src="images/linkedInLogo.png" alt="LinkedIn logo"></a>
            <a aria-label="Link to my github" target=”_blank” href="https://github.com/JopMolenaar/"><img src="images/github-icon.png" alt="Github logo"></a>
        </div>
      </footer>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <script defer src="js/openDialog.js"></script>
    <script defer src="js/script.js"></script>
</body>
</html>