main .hello {
  display: flex;
  align-items: end;
  height: 80vh;
  /* box-shadow: 0 0 150px 300px rgb(255, 255, 255); */


  & h1 {
    order: -1;
    width: 50vw;
    height: 1.44em;
    background-color: var(--background-color);
    mix-blend-mode: darken;
    font-size: 4.5em;
    padding-inline: 0.8em;
    padding-bottom: 0.5em;
    .transparent {
      position: absolute;
      color: rgb(255, 255, 255); 
      mix-blend-mode: difference;
      transform: translateY(-15px);
    }
  }

  & div {
      background-color: var(--background-color);
      color: #ffffff;
      text-shadow: -2px -2px 2px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);      
      font-weight: 700;
      display: flex;
      justify-content: end;
      position: relative;
      width: 50vw;
      align-self: end;    
      height: 3.4em;
      font-size: 1.9em;
      padding-inline: 1.5em;  

      & p {
        transform: translateY(-0.97em);
        text-transform: capitalize;
      }
  }

  & img {
      position: fixed;
      width: 100vw;
      height: 80vh;
      transform-origin: bottom;
      object-fit: cover;
      opacity: 1;
      order: -1;
      z-index: -1;
      filter: brightness(1.13);
  }
}

@supports (animation-timeline: view()) {
  main > section:first-of-type img {
    animation: header-image-fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -400px;
  }

  @keyframes header-image-fade-out {
    10% {
      scale: 1;
    }
    90%, 100% {
      scale: 1.1;
    }
  }
}