main {
  > section.skills {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding-block: 3em;
    padding-top: 8em;

    div:nth-of-type(2) {
      display: grid;
      padding-top: 3em;
      padding: 1em;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      position: relative;

      h3 {
        color: var(--color-text);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        place-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(16deg) translate(-50%, 25%);
        font-size: 13em;
        color: rgb(204, 204, 255);
        transform-origin: center;
      }

      > section:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        transform: rotate(-16deg) translate(0%,0%);
        transform-origin: center;

        h4 {
          color: var(--color-text);
          margin-bottom: 1em;
        }
        p {
          color: var(--color-text);
          max-width: 40em;
        }
      }

      > section:nth-of-type(1) {
        overflow-x: hidden;
        margin-top: 3em;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        justify-content: center;
        place-self: center;
        flex-direction: column;
        max-width: 41em;
        width: 95%;

        .scroller {
          padding: 0.25em;

          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8em;
            transform-style: preserve-3d;

            li {
              background-color: rgb(70, 70, 70);
              border-radius: 10%;
              width: fit-content;
              padding: 0.5em;
              flex-wrap: nowrap;
              font-size: 1em;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

              span:nth-child(1) {
                font-size: 0.6em;
              }
              span:nth-child(2) {
                width: 4em;
              }
              img {
                width: 40px;
                height: auto;
              }
            }
          }

          &[data-animated=true] {
            padding: 0.5em;
            -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
            mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

            ul {
              flex-wrap: nowrap;
              width: max-content;
            }
          }
        }
      }

       > img {
        width: 40px;
        display: none;
      }

      > section:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

        img {
          height: auto;
          width: 100%;
          object-fit: cover;
          transition: 200ms;
        }
      } 
    }
  }
}

@media (min-width: 70em) {
  main {
    > section:nth-child(3) {
      > div {
        padding: 3em;
        grid-template-columns: 1fr minmax(20em, 40em) 1fr;
        grid-template-rows: 8em 1fr 9em;

        h3 {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        > section:nth-of-type(1) {
          max-width: 70em;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        > section:nth-of-type(2) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
        }

        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;

          &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;
            padding-right: 3em;
          }
          &:nth-child(5) {
            padding-left: 3em;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
          }
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .scroller[data-animated=true] {
    ul {
      animation: scroll 20s forwards linear infinite;
    }
  }
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.4em));
    }
  }
} 
